body {
  background-image: url("../img/anime-school-background.png");
  /* display: flex;
  justify-content: center; */
}

.wrapper {
  max-width: 1810px;
  width: 100%;
}

.container {
  background: #fff;
  border-radius: 30px;
  margin: 80px 150px 0px 150px;
  /* display: flex;
  justify-content: center; */
}

.container, .navbar {
  padding: 20px;
}

.navbar {
  width: 100%;
  align-items: center;
  background-color: #370617;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}

img {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
}
