<div id="<%= dom_id document %>">
  <p>
    <strong>Mark:</strong>
    <%= document.mark %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= document.comment %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= document.student_id %>
  </p>

</div>
