<div id="<%= dom_id practice %>">
  <p>
    <strong>Kind:</strong>
    <%= practice.kind %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= practice.duration %>
  </p>

  <p>
    <strong>Hours per student:</strong>
    <%= practice.hours_per_student %>
  </p>

</div>
